<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Camping Robinson Country Club</title>
    </head>

    <body>
        <!-- Header Section Begin -->
        <header class="header">
            <button class=mobile-holder>Menu</button>
            <div class="header-top-container">
                <div class="header-top-logo">
                    <h1>Camping Booking</h1>
                </div>
                <div class="header-top-menu">
                    <!-- to do language selector -->
                </div>
            </div>
            <div class="header-nav-container">
                <nav class="header-nav-menu">
                    <ul class="header-menu">
                        <li><a href="#">Home</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- Header Section End -->
    </body>
</html>